<div class="historic">
  <div class="historic-image"></div>
  <section id="historic-are" class="historic-txt">
    <h2 style="text-align: center; font-weight: bold;">HISTORIC</h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare elementum justo ac venenatis. Duis eu nunc
    non dolor vestibulum lobortis sed in orci. In non vulputate dolor. Mauris sagittis feugiat lorem ac iaculis. Nulla
    facilisi. Suspendisse egestas orci a dui ultrices vehicula. Proin sit amet tincidunt turpis. Mauris ac ipsum diam.
    Nunc faucibus tortor sit amet lectus auctor, vel suscipit dolor auctor.

    Etiam massa eros, congue sit amet dapibus sit amet, pretium non justo. Vivamus erat felis, condimentum at est sed,
    scelerisque viverra orci. Maecenas neque justo, cursus a dolor vel, elementum pharetra risus. Fusce dictum varius
    quam, eu finibus neque scelerisque et. Fusce finibus nibh vitae urna euismod, nec vulputate velit facilisis. In
    dignissim ac lectus sed pulvinar. Pellentesque nec lectus sed odio consectetur tempus et vel enim. Nulla magna est,
    dapibus eu velit ut, laoreet finibus sapien. Suspendisse eleifend leo ut lacus rutrum tempus. Phasellus laoreet
    mauris quis nibh aliquet pretium. Donec at fermentum lorem. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Sed at sapien eget ipsum aliquam lacinia in sed sem. Sed viverra sodales nunc, eu varius augue
    sollicitudin eget.

    Praesent nec tellus tempus, pharetra tellus at, scelerisque odio. Sed purus lectus, dignissim ac lorem sed, aliquet
    interdum velit. Vivamus iaculis scelerisque magna, quis interdum neque malesuada iaculis. Curabitur et augue non
    nulla mattis convallis sed eget enim. Vivamus a eleifend libero, quis consectetur nibh. Fusce maximus magna sit amet
    finibus porta. Etiam eu tellus non sapien egestas viverra a at odio. Nullam sit amet dictum lacus. Vestibulum
    sagittis arcu in nibh cursus, eget tristique magna tincidunt. Sed in ipsum
    tincidunt lacus suscipit dapibus id et sem. Quisque maximus tincidunt arcu, bibendum pharetra orci rutrum a.

    Aliquam aliquet orci ex, nec blandit nisl scelerisque in. Suspendisse potenti. In hac habitasse platea dictumst.
    Donec dapibus nisi at justo finibus pharetra. Vestibulum ante
    ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur non convallis odio, in gravida
    tortor. Ut porttitor vehicula arcu.
  </section>
</div>
