<header>
  <p>
    <mat-toolbar>
      <span style="cursor: pointer; margin-top:5px;"><img src="../assets/logo.PNG" routerLink="/" alt="logo an_artist"/></span>
      <span class="spacer"></span>
      <div class="button-row">
        <button mat-button routerLink="/" color="primary">HOME</button>
        <button mat-button routerLink="/historic" color="primary">HISTORIC</button>
        <button mat-button routerLink="/jobs" color="primary">JOBS</button>
        <button mat-button routerLink="/contact" color="primary">CONTACT</button>
      </div>
    </mat-toolbar>
  </p>
</header>

<router-outlet></router-outlet>
